{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <div class="hero-image">
            <div class="donation-info">
                <h1 class="testtext">Donation</h1>
                <p class="text-center toto">We appriciate your interest in donating. We have a donation limit so you can only donate a small sum, if you would like to support
                us even more then please proceed to make a purchase instead.</p>
                    <p class="text-center toto">Note that all donations are done with card.</p>
                <p class="text-center toto">Thank You</p>
            </div>
    <div class="col-md-6 payment-block">
     <form action="{% url 'donation_submit' %}" method="POST">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key = "{{ key }}"
        data-description= "Cookie Shop Donation"
        data-amount="1000"
        data-currency="eur"
        data-locale="auto"
        ></script>
    </form>   
    </div>
     
        
        
        
    </div>
{% endblock %}