{% extends "base.html" %}
{% block content %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<!-- Stripe script, to accept payments -->
<script  src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}


    <h2 class="text-center">Your Order</h2>
            {% if items_in_cart %}
            <div class="container">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_in_cart %}
                <tr>
                    <td>{{ item.cookie.name }}</td>
                    <td>{{ item.cookie.price }}</td>
                    <td>{{item.quantity}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <a href="{% url 'show_cart'%}"class="col-xs-6 col-xs-offset-3 col-lg-6 btn btn-danger adjust-cart" type="submit">Adjust Order</a>
            </div>
            
            
            {% endif %}
            <br>
            <br>
        <div class="text-center">
            <h4 class="total-checkout">Total</h4>
            <h4 class="total-checkout"><strong>{{ total }}</strong><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></h4>
        
        </div>
        <div class="container">
                    <!-- This form will be filled when submitting a payment -->
        <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
            <legend>Payment Details</legend>
        
            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
        
            <div class="form-group col-md-6">
                {{ order_form | as_bootstrap }}
            </div>
        
            <div class="form-group col-md-6">
                {{ payment_form | as_bootstrap }}
            </div>
        
            {% csrf_token %}
            <div class="form-group col-md-6 text-center">
                <input class=" btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </form>
        </div>
{% endblock %}