{% extends 'base.html' %}
{% block content %}
<div class="hero-image">
<div class="cookie-block">
    <h1 class="cart-title text-center">Our Cookies</h1>
    <h4 class="cookie-information">All of our cookies are homemade, we never use artificial colors, or flavors of any kind.</h4>
    {% for cookie in cookies %}
        <div class="col-xs-10 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default">
            <div class="panel-body text-center">
                <div class="cookie-product" style="background-image: url('{{ MEDIA_URL }}{{ cookie.image }}')"></div>

                <h2 class="cookie-name">{{ cookie.name }}</h2>
                <p class="cookie-info">{{ cookie.info }}</p>
                <a href="{% url 'cookie_details' cookie.id %}"class="btn btn-success" type="submit">Read More</a>
                <strong><p class="amount">Box of: <span>{{ cookie.amount }}</span> Cookies </p></strong>
                <p class="price">{{ cookie.price }}
                <span class="glyphicon glyphicon-euro" aria-hidden="true"></p>
                <form method="post" action="{% url 'add_item_to_cart' cookie.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit">Add to cart</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
