{% extends 'base.html' %}
{% block content %}
<div class="hero-image">
<div class="cookie-block">
    {% if items_in_cart %}
    <h1 class="cart-title text-center">Your cookies:</h1>
        {% for item in items_in_cart %}
        <div class="col-xs-6 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default">
            <div class="panel-body text-center">
                <div class="cookie-product" style="background-image: url('{{ MEDIA_URL }}{{ item.cookie.image }}')"></div>

                <h2 class="cookie-name">{{ item.cookie.name }}</h2>
                <p class="cookie-info">{{ item.cookie.info }}</p>
                <p class="price">{{ item.cookie.price }}
                <span class="glyphicon glyphicon-euro" aria-hidden="true"></p>
                
                <form class="form-inline" method="post" action="{% url 'edit_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" required class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger additem">Update</button>
                </form>

             </div>
            </div>
            {% endfor %}
                     <div class="checkout-total text-center">
            <h4 class="margin-total">Total</h4>
            <h4>{{ total }}<span class="glyphicon glyphicon-euro" aria-hidden="true"></span></h4>
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
        </div>
            {% else %}
            <h1 class="cart-title text-center">You do not have any items in your cart.</h1>
            <h3 class="text-center see-cookie"><a href="{% url 'allcookies' %}">Click here to see our cookies</a></h3>
            {% endif %}
        </div>
</div>
</div>
{% endblock %}
