{% extends 'base.html' %}
{% block content %}
<div class="hero-image">
<div class="cookie-block">
    <h1 class="cart-title text-center">Your cookies:</h1>
    {% for item in items_in_cart %}
    
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default">
            <div class="panel-body text-center">
                <div class="cookie-product" style="background-image: url('{{ MEDIA_URL }}{{ item.cookie.image }}')"></div>

                <h2 class="cookie-name">{{ item.cookie.name }}</h2>
                <p class="cookie-info">{{ item.cookie.info }}</p>
                <p class="price">{{ item.cookie.price }}
                <span class="glyphicon glyphicon-euro" aria-hidden="true"></p>
                
                <form class="form-inline" method="post" action="{% url 'edit_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Update</button>
                </form>

             </div>
            </div>
            {% endfor %}
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_in_cart %}   
                <tr>
                    <td>{{ item.cookie.name }}</td>
                    <td>{{ item.cookie.price }}</td>
                    <td>{{item.quantity}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
            <div class="panel-body text-center">
    <h4 class="margin-total">Total</h4>
    <h4>{{ total }}<span class="glyphicon glyphicon-euro" aria-hidden="true"></span></h4>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
</div>
</div>
</div>
{% endblock %}
